<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qixidi.business.mapper.comment.ArticleCommentMapper">
    <select id="selectBasicsLis" resultType="com.qixidi.business.domain.vo.comment.ArticleCommentVo">
        select *
        from b_article_information ;
    </select>
</mapper>
