.v-note-show li {
  list-style-type: disc;
}

.markdown-body .task-list-item {
  list-style-type: none;
}

sup {
  color: #e67e22 !important;
}

sub {
  color: #05c46b !important;
}

.markdown-body blockquote {
  border-left: 0.2rem solid #22a6b3 !important;
  background-color: #eef7fa !important;
  padding: 6px !important;
}

.hljs {
  border-radius: 4px !important;
  padding: 12px !important;
}

.el-dropdown-menu::-webkit-scrollbar {
  width: 0px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 0px;
}

.button-item {
  cursor: pointer;
}

.markdown-body p {
  line-height: 34px;
}

.v-note-wrapper .v-note-op {
  border-top: 1px solid #e1e4e8;
  border-bottom: 1px solid #e1e4e8 !important;
}
