.vditor-reset {
  width: 100%;
  font-family: var(--sys-font-family) !important;
  letter-spacing: 1.3px !important;
  color: var(--default-color);
}

.vditor-reset::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #bdc3c7;
}

.vditor-reset::-webkit-scrollbar-thumb {
  background: #bdc3c7;
  border-radius: 2px;
}

.vditor-reset::-webkit-scrollbar-track {
  background: #FFFFFF;
  border-radius: 2px;
}

.vditor-reset--anchor {
  padding-left: 0px;
}

.vditor-reset blockquote {
  /*border-left: 3px solid #22a6b3 !important;*/
  border: 1px solid #ff7f50 !important;
  /*background-color: #eef7fa !important;*/
  background-color: #fefefe !important;
  padding: 15px !important;
  border-radius: 6px;
}

.vditor-reset p {
  line-height: 32px !important;
}

.vditor-reset span {
  line-height: 32px !important;
}

.vditor-reset li {
  line-height: 32px !important;
}

.vditor-reset a {
  color: #00a8ff;
}

.vditor-reset a:hover {
  text-decoration: underline;
}

.vditor-reset code:not(.hljs):not(.highlight-chroma) {
  background-color: #F5F5F5 !important;
  margin: 0px 4px !important;
  padding: 0.3em 0.5em !important;
  color: #4663b3 !important;
  font-weight: 500 !important;
}

.vditor-reset img {
  border-radius: 10px;
}
