.tool-index {
  padding: 20px;
  border-radius: 4px;
  overflow: scroll;
  overflow-x: hidden;
  height: 70vh;
}

/*设置滚动条高宽为0*/
.tool-index::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.tool-ui {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

}

.tool-list {
  width: 285px;
  height: 100px;
  background-color: #FFFFFF;
  cursor: pointer;
  transition: all 0.1s linear 0s;
  padding: 20px 20px 25px 20px;
  border-radius: 10px;
  margin: 0px 26px 26px 0px;
  border: 1px solid #dfe4ea;
}

.tool-list:hover {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}

.tool-toolName {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

li {
  list-style-type: none;
}
