<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurora.business.mapper.user.UserFollowMapper">
    <select id="followLabelList" resultType="com.aurora.business.domain.vo.label.LabelInfoVo">
        SELECT li.id,
               li.label_name,
               li.label_describe,
               li.label_cover,
               li.follow_number,
               li.article_number,
               uf.create_time
        FROM user_follow AS uf
                 LEFT JOIN label_info AS li ON uf.target_id = li.id
        WHERE uf.type = #{type}
          AND uf.state = 0
          and uf.uid = #{uid}
    </select>

    <select id="followUserList" resultType="com.aurora.business.domain.vo.user.TripartiteUserVo">
        SELECT um.uuid,
               um.nickname,
               um.avatar,
               um.location,
               um.remark,
               um.occupation,
               um.user_type,
               uf.create_time
        FROM user_follow AS uf
                 LEFT JOIN user_main AS um ON uf.target_id = um.uuid
        WHERE uf.type = #{type}
          AND uf.state = 0
          and uf.uid = #{uid}
    </select>

    <select id="selectFollowTask" resultType="com.aurora.business.domain.vo.CountUserWebsiteVo">
        SELECT uid as uuid, count(uid) as followCount
        FROM `user_follow`
        where state = 0
          and type = 1
        GROUP BY uid
    </select>

    <select id="selectVoLabelGroup" resultType="com.aurora.business.domain.vo.user.UserFollowVo">
        SELECT target_id as targetId, count(target_id) as `sum`
        FROM `user_follow`
        where state = 0
          and type = 2
        GROUP BY target_id
    </select>
</mapper>
