<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurora.business.mapper.user.UserReportMapper">
    <resultMap type="com.aurora.business.domain.entity.user.UserReport" id="UserReportResult">
        <result property="id" column="id"/>
        <result property="uid" column="uid"/>
        <result property="reportTime" column="report_time"/>
        <result property="aCurrency" column="a_currency"/>
    </resultMap>
</mapper>
