<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurora.system.mapper.TripartiteUserMapper">
    <select id="selectWebInfo" resultType="com.aurora.business.domain.vo.user.TripartiteUserVo">
        SELECT um.uuid,
               um.username,
               um.nickname,
               um.phone,
               um.avatar,
               um.avatar,
               um.blog,
               um.email,
               um.gender,
               um.remark,
               um.occupation,
               um.state,
               um.role_id,
               cuw.fabulous_count,
               cuw.collection_count,
               cuw.follow_count,
               cuw.fans_count,
               cuw.fans_count,
               cuw.comment_count,
               cuw.article_count,
               cuw.special_column_count,
               cuw.circle_count
        FROM user_main AS um
                 LEFT JOIN count_user_website AS cuw ON um.uuid = cuw.uuid
        WHERE um.uuid = #{uuid}
    </select>
</mapper>
