<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qixidi.business.mapper.label.LabelGroupingInfoMapper">
    <resultMap type="com.qixidi.business.domain.entity.label.LabelGroupingInfo" id="LabelGroupingInfoResult">
        <result property="id" column="id"/>
        <result property="groupingName" column="grouping_name"/>
        <result property="state" column="state"/>
        <result property="groupingDescribe" column="grouping_describe"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
    </resultMap>

    <select id="fdkGroupingList" resultType="com.qixidi.business.domain.vo.label.LabelGroupingInfoVo">
        SELECT li.id,
               li.grouping_name,
               li.grouping_describe,
               li.icon,
               li.entries_number as articleNumber
        FROM b_label_grouping_info AS li
        where li.state = 0
        ORDER BY li.entries_number DESC
    </select>

    <select id="selectStatData" resultType="com.qixidi.business.domain.vo.stat.StatReturnDataVo">
        SELECT lgi.grouping_name as name,
               count(ai.id)      as data
        FROM b_label_grouping_info AS lgi
                 LEFT JOIN b_article_information AS ai ON lgi.id = ai.grouping_id
        WHERE lgi.state = 0
        GROUP BY lgi.grouping_name
    </select>
</mapper>
