<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurora.business.mapper.stat.StatDataInfoMapper">
    <resultMap type="com.aurora.business.domain.entity.stat.StatDataInfo" id="StatDataInfoResult">
        <result property="id" column="id"/>
        <result property="statTime" column="stat_time"/>
        <result property="userCount" column="user_count"/>
        <result property="onlineUserCount" column="onLine_user_count"/>
        <result property="articleCount" column="article_count"/>
        <result property="specialCount" column="special_count"/>
        <result property="favoritesCount" column="favorites_count"/>
    </resultMap>

    <!--    如果存在即更新-->
    <insert id="insertUpdate">
        INSERT INTO b_stat_data_info (stat_time, user_count, onLine_user_count, article_count, special_count,
                                    favorites_count, dictum_group_count, dictum_album_count, dictum_count)
        VALUES (#{statDataInfo.statTime}, #{statDataInfo.userCount}, #{statDataInfo.onlineUserCount},
                #{statDataInfo.articleCount}, #{statDataInfo.specialCount},
                #{statDataInfo.favoritesCount}, #{statDataInfo.dictumGroupCount}, #{statDataInfo.dictumAlbumCount}
                   , #{statDataInfo.dictumCount}) on duplicate key
        update
            user_count= ifnull(#{statDataInfo.userCount},0),
            onLine_user_count=ifnull(#{statDataInfo.onlineUserCount},0),
            article_count=ifnull(#{statDataInfo.articleCount},0),
            special_count=ifnull(#{statDataInfo.specialCount},0),
            favorites_count=ifnull(#{statDataInfo.favoritesCount},0),
            dictum_group_count=ifnull(#{statDataInfo.dictumGroupCount},0),
            dictum_album_count=ifnull(#{statDataInfo.dictumAlbumCount},0),
            dictum_count=ifnull(#{statDataInfo.dictumCount},0)
    </insert>

    <select id="selectLists" resultMap="StatDataInfoResult">
        SELECT id,
            LEFT (stat_time, 7) as stat_time,
            user_count,
            onLine_user_count,
            article_count,
            special_count,
            favorites_count,
            dictum_group_count,
            dictum_album_count,
            dictum_count
        FROM b_stat_data_info
        WHERE
            LEFT ( stat_time
            , 7 )= #{statTime}
        ORDER BY id desc
            LIMIT 1;
    </select>
</mapper>
