<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qixidi.business.mapper.collection.CollectionRecordMapper">
    <select id="selectCollectionCountByUserIds" resultType="com.qixidi.business.domain.vo.CountUserWebsiteVo">
        SELECT uid AS uuid, COUNT(*) AS collectionCount
        FROM b_collection_record
        WHERE uid IN
        <foreach collection="uuids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND state = 0
        GROUP BY uid
    </select>

    <select id="selectCollectionCountByArticleIds" resultType="com.qixidi.business.domain.vo.article.ArticleCountVo">
        SELECT target_id AS articleId, COUNT(*) AS count
        FROM b_collection_record
        WHERE target_id IN
        <foreach collection="articleIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND type = 1
        AND state = 0
        GROUP BY target_id
    </select>
</mapper>
