<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qixidi.business.mapper.special.SpecialInformationMapper">
    <select id="selectUserName" resultType="com.qixidi.business.domain.vo.special.SpecialInformationVo">
        select si.id,
               si.special_name,
               si.special_introduce,
               si.state,
               si.uid,
               si.create_time,
               si.update_id,
               si.included_count,
               si.update_time,
               um.nickname as username
        from b_special_information as si
                 inner join b_user_main as um on si.uid = um.uuid
            ${ew.getCustomSqlSegment}
    </select>

    <select id="timeSpecialCensus" resultType="com.light.core.core.domain.vo.CensusVo">
        SELECT si.special_name AS title,
               si.create_time  AS dateTime,
               t.censusSum     AS censusSum
        FROM b_special_information AS si
                 LEFT JOIN (SELECT special_id, count(id) AS censusSum
                            FROM b_article_information
                            WHERE user_id = #{bo.uid}
                              AND `state` = 0
                            GROUP BY special_id) AS t ON si.id = t.special_id
        WHERE si.uid = #{bo.uid}
          AND si.`state` = 0;
    </select>

    <select id="selectSpecialTask" resultType="com.qixidi.business.domain.vo.CountUserWebsiteVo">
        SELECT uid        as uuid,
               count(uid) as specialColumnCount
        FROM `b_special_information`
        WHERE state = 0
        GROUP BY uid
    </select>
</mapper>
