<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qixidi.business.mapper.dictum.DictumInfoMapper">
    <resultMap type="com.qixidi.business.domain.entity.dictum.DictumInfo" id="DictumInfoResult">
        <result property="id" column="id"/>
        <result property="uid" column="uid"/>
        <result property="content" column="content"/>
        <result property="albumId" column="album_id"/>
        <result property="label" column="label"/>
        <result property="picture" column="picture"/>
        <result property="dictumState" column="dictum_state"/>
        <result property="state" column="state"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="selectVoPageXml" resultType="com.qixidi.business.domain.vo.dictum.DictumInfoVo">
        select
        di.id,
        di.uid,
        di.content,
        di.group_id,
        di.label,
        di.label,
        di.picture,
        di.author,
        di.works_name,
        di.dictum_state,
        di.group_id,
        di.album_id,
        di.create_time,
        di.update_time,
        dg.name as groupName,
        da.name as albumName,
        um.nickname,
        um.avatar,
        um.occupation,
        um.location,
        um.role_id
        from b_dictum_info as di
        left join b_user_main as um
        on di.uid=um.uuid
        left join b_dictum_group as dg
        on di.group_id=dg.id
        left join b_dictum_album as da
        on di.album_id=da.id
        <where>
            di.state=0
            and um.state=0
            <if test="bo.uid!=null and bo.uid!=''">
                and di.uid=#{bo.uid}
            </if>
            <if test="bo.dictumState!=null and bo.dictumState!=''">
                and di.dictum_state=#{bo.dictumState}
            </if>
            <if test="bo.content!=null and bo.content!=''">
                and di.content like concat('%' ,#{bo.content},'%')
            </if>
            <if test="bo.label!=null and bo.label!=''">
                and di.label like concat('%' ,#{bo.label},'%')
            </if>
            <if test="bo.albumId!=null and bo.albumId!=''">
                and di.album_id=#{bo.albumId}
            </if>
            <if test="bo.groupId!=null and bo.groupId!=''">
                and di.group_id=#{bo.groupId}
            </if>
            <if test="bo.author!=null and bo.author!=''">
                and di.author=#{bo.author}
            </if>
            <if test="bo.albumName!=null and bo.albumName!=''">
                and da.name like concat('%' ,#{bo.albumName},'%')
            </if>
        </where>
        order by di.update_time desc
    </select>

    <select id="selectGroupId" resultType="com.qixidi.business.domain.vo.dictum.DictumInfoVo">
        SELECT group_id,
               sum(group_id) AS `sum`
        FROM b_dictum_info
        GROUP BY group_id
        HAVING COUNT(group_id) > 0
    </select>

    <select id="selectAlbumId" resultType="com.qixidi.business.domain.vo.dictum.DictumInfoVo">
        SELECT album_id,
               sum(album_id) AS `sum`
        FROM b_dictum_info
        GROUP BY album_id
        HAVING COUNT(album_id) > 0
    </select>

    <select id="selectDictumInfo" resultType="com.qixidi.business.domain.vo.CountUserWebsiteVo">
        SELECT uid as uuid, count(uid) as dictumCount
        FROM `b_dictum_info`
        where state = 0
        GROUP BY uid
    </select>
</mapper>
