<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qixidi.business.mapper.user.UserFollowMapper">
    <select id="followLabelList" resultType="com.qixidi.business.domain.vo.label.LabelInfoVo">
        SELECT li.id,
               li.label_name,
               li.label_describe,
               li.label_cover,
               li.follow_number,
               li.article_number,
               uf.create_time
        FROM b_user_follow AS uf
                 LEFT JOIN b_label_info AS li ON uf.target_id = li.id
        WHERE uf.type = #{type}
          AND uf.state = 0
          and uf.uid = #{uid}
    </select>

    <select id="followUserList" resultType="com.qixidi.business.domain.vo.user.TripartiteUserVo">
        SELECT um.uuid,
               um.nickname,
               um.avatar,
               um.location,
               um.remark,
               um.occupation,
               um.user_type,
               uf.create_time
        FROM b_user_follow AS uf
                 LEFT JOIN b_user_main AS um ON uf.target_id = um.uuid
        WHERE uf.type = #{type}
          AND uf.state = 0
          and uf.uid = #{uid}
    </select>

    <select id="selectFollowCountByUserIds" resultType="com.qixidi.business.domain.vo.CountUserWebsiteVo">
        SELECT uid AS uuid, COUNT(*) AS followCount
        FROM b_user_follow
        WHERE uid IN
        <foreach collection="uuids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND state = 0 AND type = 1
        GROUP BY uid
    </select>

    <select id="selectFansCountByUserIds" resultType="com.qixidi.business.domain.vo.CountUserWebsiteVo">
        SELECT target_id AS uuid, COUNT(*) AS fansFollowCount
        FROM b_user_follow
        WHERE target_id IN
        <foreach collection="uuids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND state = 0 AND type = 1
        GROUP BY target_id
    </select>

    <select id="selectVoLabelGroup" resultType="com.qixidi.business.domain.vo.user.UserFollowVo">
        SELECT target_id as targetId, count(target_id) as `sum`
        FROM `b_user_follow`
        where state = 0
          and type = 2
        GROUP BY target_id
    </select>
</mapper>
