<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurora.business.mapper.label.LabelInfoMapper">
    <resultMap type="com.aurora.business.domain.entity.label.LabelInfo" id="LabelInfoResult">
        <result property="id" column="id"/>
        <result property="labelGroupingId" column="label_grouping_id"/>
        <result property="labelName" column="label_name"/>
        <result property="labelDescribe" column="label_describe"/>
        <result property="labelCover" column="label_cover"/>
        <result property="state" column="state"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
    </resultMap>

</mapper>
