<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qixidi.business.mapper.user.UserOrderMapper">
    <resultMap type="com.qixidi.business.domain.entity.user.UserOrder" id="UserOrderResult">
        <result property="id" column="id"/>
        <result property="uid" column="uid"/>
        <result property="rechargeInfoId" column="recharge_info_id"/>
        <result property="rechargeMoney" column="recharge_money"/>
        <result property="rechargeCurrency" column="recharge_currency"/>
        <result property="discount" column="discount"/>
        <result property="paymentMethod" column="payment_method"/>
        <result property="createTime" column="create_time"/>
        <result property="paymentState" column="payment_state"/>
        <result property="paymentTime" column="payment_time"/>
    </resultMap>

    <select id="selectVoPageXml" resultType="com.qixidi.business.domain.vo.user.UserOrderVo">
        select uo.id,
               uo.uid,
               um.nickname,
               um.phone,
               um.avatar,
               um.occupation,
               uo.recharge_info_id,
               uo.recharge_money,
               uo.recharge_currency,
               uo.commodity_name,
               uo.discount,
               uo.payment_method,
               uo.create_time,
               uo.payment_state,
               uo.payment_time,
               uo.create_time
        from b_user_order as uo
                 left join b_user_main as um on uo.uid = um.uuid
            ${ew.getCustomSqlSegment}
    </select>
</mapper>
