
.color-black {
  color: #1d2129;
}

.color-fefefe {
  color: #FFFFFF;
}

.color-ffc312 {
  color: #ffa502;
}

.color-fb7299 {
  color: #fb7299;
}

.color-stand-out {
  color: #fa8739;
}

.color-grey5 {
  color: #31445b;
}
/*6B7280*/
.color-grey {
  /*color: rgba(107, 114, 128);*/
  /*color: #6B7280;*/
  color: #727986;

}

.color-green {
  color: #16a085;
}

.color-blue {
  color: #1e90ff;
}

.color-grey-2 {
  color: rgba(107, 114, 128, 0.8);
}

.color-grey-3 {
  color: #c2c2c2;
}

.background-color-fefefe {
  background-color: #FFFFFF;
}

.background-color-c2c8d1 {
  background-color: #c2c8d1;
}

.background-color-f2f3f5 {
  background-color: #F2F3F5;
}

.background-color-f7f8fa {
  background-color: #f7f8fa;
}
