.auroora-card {
  background-color: #fefefe;
  padding: 10px;
  /*border-radius: 2px;*/
}

.border-1-e6e6e6 {
  border: 1px solid #e6e6e6;
}

.aurora-dot {
  width: 7px;
  height: 7px;
  border-radius: 50%
}
