/*主题颜色配置*/
:root {
  /*主题颜色*/
  /*--theme-color: rgb(244, 99, 94);*/
  --theme-color: #6F8DBB;
  --theme-color-rgb: 111, 141, 187;

  /*  hover-color*/
  --hover-color: #7696c7;
  /*  active-color*/
  --active-color: #6587bb;
  /*forbidden-color*/
  --theme-background_color: #FFFFFF;
  /*禁用按钮底色*/
  --forbidden-color: #b8d0de;
  /*默认颜色*/
  --default-color: #000;
  /*背景颜色*/
  --backdrop-color: #FFFFFF;

  /*-----------------------------特殊处理---------------------------------*/
  /*导航栏 hover背景颜色*/
  --el-menu-item-color-hover: #ecf0f1;
  /*STZhongsong,*/
  --sys-font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  /*--sys-font-family: MiSans;*/
}

a, p, h1, h2, h3, h4 {
  /*color: var(--default-color);*/
}

/*默认颜色*/
.icon {
  fill: #444e57;
}

.icon-hover {
  transition: .2s;
}

.icon-hover:hover {
  fill: var(--theme-color);
}

/*icon-主题颜色*/
.icon-theme {
  fill: var(--theme-color);
}

.icon-theme .icon {
  fill: var(--theme-color);
}

.color-theme {
  color: var(--theme-color);
}

.icon-theme-66441d {
  fill: #66441D;
}

.icon-theme-636e72 {
  fill: #636e72;
}

.icon-theme-1 {
  fill: rgba(0, 0, 0, 0.46);
}

.icon-theme-2 {
  fill: #c2c2c2;
}

.icon-hover-theme-stand-out {
  transition: .2s;
}

.icon-hover-theme-stand-out:hover {
  fill: #ff793f;
}

.icon-theme-stand-out {
  fill: #ff793f;
}

.icon-theme-green {
  fill: #16a085;
}

.icon-theme-blue {
  fill: #1e90ff;
}

.svg-d63031 {
  stroke: #d63031;
}

/*背景颜色*/
.background-color-theme {
  background-color: var(--theme-color);
}

/*主题颜色2*/
.background-color-theme-2 {
  background-color: #E8F3FF;
}

.hover-cl:hover {
  color: var(--theme-color);
}

.border-left-3-solid {
  padding-bottom: 2px;
  padding-top: 2px;
  padding-left: 6px;
  align-items: center;
  border-left: 3px solid var(--theme-color);

}

.border-left-2-solid {
  padding-bottom: 2px;
  padding-top: 2px;
  padding-left: 6px;
  align-items: center;
  border-left: 2px solid var(--theme-color);
}
