.flex-grow-1 {
  flex-grow: 1;
}

.article-item {
  flex-grow: 1;
  background: #fefefe;
  transition: .3s;
  padding: 25px 5px;
  border: 1px solid #bdc3c7;
  border-radius: 25px;
  margin-bottom: 25px;
}

.article-item:hover {
  background: #edeff0;
  border: 1px solid #636e72;
}

.article-item:hover .article-cover-img {
  transform: scale(1.2);
}

.article-cover-div {
  height: 100px;
  max-width: 100px;
  margin-right: 15px;
  overflow: hidden;
  border-radius: 50%;
  /*transform: rotate(45deg);*/
}

.article-cover-img {
  width: 100%;
  height: 100%;
  transition: .4s;
}

.article-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.lbt-cl {
  height: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
  font-family: '新宋体';
  letter-spacing: 2px;
  cursor: pointer;
  color: #fefefe;
  background: url(
  data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAG0lEQVQYV2NMKL/ty4ADMIIkF3SqbsYmP+gkAayXGgfe8HOVAAAAAElFTkSuQmCC
  ) repeat;
}
