.article-list-admin {
  background-color: #fefefe;
  padding: 0px 10px;
}

.article-list-li {
  margin: 4px 4px 20px 4px;
  border-radius: 10px;
  border: 1px solid #e2e2e5;
  transition: .3s;
}

.article-list-li:hover {
  background: #E9EBEC;
}
