.article-list-admin {
  background-color: #fefefe;
  padding: 0px 10px;
}

.article-list-li {
  margin: 4px 4px 20px 4px;
  border-radius: 25px;
  padding: 20px 15px;
  border: 1px solid #ced6e0;
  transition: .3s;
}

.article-list-li:hover {
  background: #E9EBEC;
}
