.flex-grow-1 {
  flex-grow: 1;
}

.article-item {
  flex-grow: 1;
  background: #FFFFFF;
  transition: .3s;
  padding: 20px 5px 25px 5px;
  border-bottom: 1px solid #dfe4ea;
  margin-bottom: 20px;
}

.article-item:hover {
  border-bottom: 1px solid var(--hover-color);
}

.article-item:hover .article-cover-img {
  transform: scale(1.2);
}

.article-cover-wrapper {
  margin-right: 15px;
}

.article-cover-img {
  transition: .4s;
}

.article-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.lbt-cl {
  height: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
  font-family: '新宋体';
  letter-spacing: 2px;
  cursor: pointer;
  color: #FFFFFF;
  background: url(
  data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAG0lEQVQYV2NMKL/ty4ADMIIkF3SqbsYmP+gkAayXGgfe8HOVAAAAAElFTkSuQmCC
  ) repeat;
}
