<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurora.business.mapper.collection.CollectionInformationMapper">
    <select id="articleList" resultType="com.aurora.business.domain.vo.article.ArticleInformationVo">
        SELECT ai.id,
        ai.user_id,
        ai.article_title,
        ai.article_abstract,
        ai.theme,
        ai.`type`,
        ai.`state`,
        ai.create_time,
        ai.special_id,
        ai.label_id,
        ai.grouping_id,
        ai.like_times,
        ai.comment_times ,
        ai.number_times,
        ai.audit_state,
        ai.collection_times,
        ai.audit_time,
        um.username,
        um.nickname,
        cr.collection_id,
        cr.id as collectionRecordId,
        cr.create_time
        FROM b_collection_record AS cr
        LEFT JOIN b_article_information AS ai ON cr.target_id = ai.id
        LEFT join b_user_main as um on ai.user_id = um.uuid
        <where>
            cr.state=0
            and ai.state=0
            <if test="bo.collectionId !='' and bo.collectionId !=null">
                and cr.collection_id=#{bo.collectionId}
            </if>
        </where>
        order by cr.create_time desc
    </select>

    <select id="selectUserName" resultType="com.aurora.business.domain.vo.collection.CollectionInformationVo">
        select ci.id,
               ci.collection_name,
               ci.collection_introduce,
               ci.state,
               ci.uid,
               ci.create_time,
               ci.update_id,
               ci.included_count,
               ci.update_time,
               um.nickname as username
        from b_collection_information as ci
                 inner join b_user_main as um on ci.uid = um.uuid
            ${ew.getCustomSqlSegment}
    </select>

    <update id="updateDelete">
        update b_collection_information
        set included_count=included_count - 1
        where id = #{collectionId};
    </update>

    <update id="updateAdd">
        update b_collection_information
        set included_count=included_count + 1
        where id = #{collectionId};
    </update>

    <select id="selectCensus" resultType="com.aurora.business.domain.vo.collection.CollectionInformationVo">
        select id, collection_name, create_time, uid
        from b_collection_information
        where state = 0
          and uid = #{bo.uid}
    </select>

    <select id="timeCollectionCensus" resultType="com.aurora.common.core.domain.vo.CensusVo">
        SELECT ci.collection_name as title,
               ci.create_time     as dateTime,
               t.censusSum        as censusSum
        FROM b_collection_information AS ci
                 left JOIN (SELECT collection_id, count(id) AS censusSum
                            FROM b_collection_record
                            where uid = #{bo.uid}
                              and `state` = 0
                            GROUP BY collection_id) AS t
                           ON ci.id = t.collection_id
        where ci.uid = #{bo.uid}
          and ci.`state` = 0;
    </select>
</mapper>
