.index-main {
  display: flex;
  flex: 24;
  width: 100%;
  grid-template-columns: 10.625rem 1fr 16.25rem;
}

.index-left-cl-true {
  transform: translateY(-5rem);
  transition: 0.4s;
}

.index-left-cl-false {
  transform: translateY(0rem);
  transition: 0.4s;
}

.index-right {
  border-radius: 0.25rem;
  margin-left: 30px;
  width: 300px;
}

.index-left-width {
  margin-top: 60px;
  width: 160px;
}

.index-left-cl {
  position: fixed;
  width: 10rem;
}

.article-index-content {
  width: 880px;
  margin-left: 80px;

  @media screen and (max-width: 510px) {
    width: 100%;
    margin-left: 0px;
  }
}

.recommend-article-item {
  padding: 0 0rem 0rem 0.375rem;
  margin-bottom: 18px;
  line-height: 1.625rem;
}

.recommend-article-div-true {
  transform: translateY(0rem);
  transition: 0.4s;
}

.recommend-article-div-false {
  position: fixed;
  width: 16.25rem;
  transform: translateY(-5rem);
  transition: 0.4s;
}

.user-admin-info {
  padding: 1rem 0.625rem;
}

.sigIn-info {
  padding: 16px 10px;
  margin: 0px 10px;
  background-color: #F3F3F3
}

.selected-articles-info {
  padding: 10px 6px;
}


.label-grouping-div {
  border-top: 1px solid #ecf0f1;
  border-bottom: 1px solid #ecf0f1;
  background: #FFFFFF;
  margin-top: 8px;
  transition: all 0.2s linear 0s;
}

.label-grouping-div:hover {
  /*border: 1px solid var(--hover-color);*/
}

.website-data {
  background-color: #FFFFFF;
  padding: 16px;
  border-radius: 10px;
}

.marquee {
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  border: 1px solid #ffbe76;
  margin: auto;
  padding: 8px;
  font-size: 14px;
  border-radius: 25px;
}

.marquee p {
  display: inline-block;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: -100%;
  }
}
