<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurora.business.mapper.TripartiteUserMapper">
    <sql id="userInfo">
        SELECT distinct um.uuid,
                        um.username,
                        um.nickname,
                        um.phone,
                        um.avatar,
                        um.avatar,
                        um.blog,
                        um.email,
                        um.gender,
                        um.remark,
                        um.occupation,
                        um.company,
                        um.role_id,
                        cuw.fabulous_count,
                        cuw.fans_fabulous_count,
                        cuw.collection_count,
                        cuw.follow_count,
                        cuw.fans_follow_count,
                        cuw.fans_comment_count,
                        cuw.comment_count,
                        cuw.article_count,
                        cuw.special_column_count,
                        cuw.special_column_count,
                        cuw.circle_count,
                        cuw.album_count,
                        cuw.dictum_count
        FROM b_user_main AS um
                 LEFT JOIN b_count_user_website AS cuw ON um.uuid = cuw.uuid
    </sql>
    <select id="selectWebInfo" resultType="com.aurora.business.domain.vo.user.TripartiteUserVo">
        SELECT um.uuid,
               um.username,
               um.nickname,
               um.phone,
               um.avatar,
               um.avatar,
               um.blog,
               um.email,
               um.gender,
               um.remark,
               um.a_currency,
               um.occupation,
               um.state,
               um.company,
               um.role_id,
               cuw.fabulous_count,
               cuw.fans_fabulous_count,
               cuw.collection_count,
               cuw.follow_count,
               cuw.fans_follow_count,
               cuw.fans_comment_count,
               cuw.comment_count,
               cuw.article_count,
               cuw.special_column_count,
               cuw.special_column_count,
               cuw.circle_count,
               cuw.album_count,
               cuw.dictum_count,
               ui.introduce,
               ui.homepage,
               ui.empirical,
               ui.grade,
               ui.user_state
        FROM b_user_main AS um
                 LEFT JOIN b_count_user_website AS cuw ON um.uuid = cuw.uuid
                 LEFT JOIN b_user_information as ui on ui.uuid = um.uuid
        WHERE um.uuid = #{uuid}
          and um.state = 0;
    </select>

    <select id="getBasicsUser" resultType="com.aurora.business.domain.vo.user.TripartiteUserVo">
        SELECT um.uuid,
               um.username,
               um.nickname,
               um.email,
               um.avatar,
               um.user_type,
               um.a_currency,
               um.occupation,
               um.role_id,
               um.create_time,
               um.phone,
               cuw.fabulous_count,
               cuw.fans_fabulous_count,
               cuw.collection_count,
               cuw.follow_count,
               cuw.fans_follow_count,
               cuw.fans_comment_count,
               cuw.comment_count,
               cuw.article_count,
               cuw.special_column_count,
               cuw.special_column_count,
               cuw.circle_count
        FROM b_user_main AS um
                 LEFT JOIN b_count_user_website AS cuw ON um.uuid = cuw.uuid
        WHERE um.uuid = #{uuid}
          AND um.state = 0
    </select>

    <select id="fdUserList" resultType="com.aurora.business.domain.vo.user.TripartiteUserVo">
        <include refid="userInfo"/>
        <where>
            um.nickname like concat('%' ,#{bo.nickname},'%')
            or
            um.email like concat('%' ,#{bo.nickname},'%')
        </where>
    </select>

    <update id="updateACurrency">
        update b_user_main
        set a_currency=a_currency + #{rechargeCurrency}
        where uuid = #{uid}
    </update>

    <select id="selectPrivacy" resultType="com.aurora.business.domain.vo.user.TripartiteUserVo">
        SELECT um.uuid,
               um.username,
               um.nickname,
               um.email,
               um.avatar,
               um.user_type,
               um.a_currency,
               um.occupation,
               um.role_id,
               um.create_time,
               um.phone
        FROM b_user_main AS um
        WHERE um.state = 0 and um.email!=null
    </select>
</mapper>
