<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurora.business.mapper.fabulous.FabulousRecordMapper">
    <resultMap type="com.aurora.business.domain.entity.fabulous.FabulousRecord" id="FabulousRecordResult">
        <result property="id" column="id"/>
        <result property="state" column="state"/>
        <result property="createTime" column="create_time"/>
        <result property="targetId" column="target_id"/>
        <result property="createTime" column="create_time"/>
        <result property="type" column="type"/>
        <result property="typeId" column="type_id"/>
        <result property="uid" column="uid"/>
    </resultMap>

    <select id="fabulousArticleList" resultType="com.aurora.business.domain.vo.article.ArticleInformationVo">
        SELECT DISTINCT
        ai.id,
        ai.user_id,
        ai.article_title,
        ai.article_cover,
        ai.type,
        ai.special_id,
        ai.like_times,
        ai.comment_times,
        ai.collection_times,
        ai.number_times,
        um.nickname,
        um.occupation,
        um.avatar,
        fr.create_time
        FROM b_fabulous_record AS fr
        LEFT JOIN b_article_information AS ai ON fr.type_id = ai.id
        left join b_user_main as um on ai.user_id = um.uuid
        where ai.state = 0
        and ai.audit_state= 2
        and fr.uid = #{bo.uid}
        <if test="bo.orderType=='desc'">
            order by fr.create_time desc
        </if>
        <if test="bo.orderType=='asc'">
            order by fr.create_time asc
        </if>
    </select>
</mapper>
