.grid-demo2 .arco-col {
    text-align: center;
}

.flow-text {
    background: linear-gradient(#ffa502, #27ae60, #1e90ff, #ff7979);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hue 3s linear infinite;
    margin-bottom: 16px;
}

.aixing-cl {
    margin-top: 20px;
    height: 100px;
    width: 100px;
}

.aixing-cl-xhua {
    margin-top: 8px;
    height: 50px;
    width: 50px;
}

.aixing-cl img,
.aixing-cl-xhua img {
    width: 100%;
    height: 100%;
    /*
    linear: 直线运动
    infinite: 运动次数（永久）
    alternate: 正反交替运动
    */
    animation: aixin-max 1.2s linear infinite alternate;
}

@keyframes aixin-max {
    100% {
        transform: scale(1.4);
    }

}

@keyframes hue {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.index-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    /*background-color: #99abb9;*/
    padding: 20px 0 20px 20px;
    font-size: 18px;
    box-shadow: 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    100px 100px 80px rgba(0, 0, 0, 0.07)
}

.svg-ax:hover {
    transform: scale(1.2);
}

.svg-ax {
    transition: all 0.4s ease;
    width: 100px;
    height: 100px;
}

.middle-info {
    display: flex;
    justify-content: space-around;
    /*opacity: 0.85;*/
    /*background: #9ea6ae;*/

    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    -webkit-border-radius: 12px;

    color: #fefefe;
    border-radius: 50px;
    width: 50%;
    margin: 0 auto;
    padding: 40px 3.75rem;
    box-sizing: border-box;
}

.slow-time-cl {
    color: #2f3542;
    font-weight: bold;
    font-family: "新宋体", cursive, serif, sans-serif;
}

.avatar-img {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid #fefefe;
}

.middle-info-xhua {
    display: flex;
    justify-content: center;
}

.svg-xiahua {
    width: 60px;
    height: 60px;
}

.avatar-img-xhua {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid #fefefe;
}

.avatar-img img,
.avatar-img-xhua img {
    width: 100%;
    height: 100%;
    transition: 0.4s;
}

.avatar-img img:hover,
.avatar-img-xhua img:hover {
    transform: scale(1.4);
}

.aixing-ma-cl {
    margin: 0 40px;
}

.title-two-cl {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    float: left;
    margin-left: 20px;
}

.flex-content {
    display: flex;
    justify-content: center;
}

.lo-card {
    background-image: linear-gradient(to right, #bdcede 0%, #c7ecee 51%, #7ed6df 100%);
    padding: 10px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    /*transition: 0.5s;*/
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    transition: 0.2s;
    color: #000000;
}

.lo-card:hover {
    background-position: right center; /* change the direction of the change here */
    text-decoration: none;
    transform: translateY(-4px);
}

.grid-demo-grid {
    padding: 0 20%;
    margin-top: 20px;
}

.grid-demo-grid .demo-item,
.grid-demo-grid .demo-suffix {
    height: 68px;
    margin: 0 auto;
    line-height: 48px;
    text-align: center;
    border-radius: 4px;
    color: #fefefe;
}

.button-list-cl {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    gap: 30px;
}

.button-admin {
    margin: 0 auto;
    width: 74%;
}

.grid-demo-grid .demo-item {
    /*background-color: #be2edd;*/

}

.avatar-name {
    font-size: 1.125rem;
    color: #fefefe;
    font-weight: bold;
    margin-top: 0.625rem;
    text-align: center;
    width: 7.5rem;
}

.icon-transform {
    transition: all 0.4s;
    position: relative;
    top: 0.98em;
}

.icon-transform:hover {
    transform: scale(1.2);
}

.info-admin {
    font-size: 20px;
    line-height: 40px;
    color: #fefefe;
}

.top-la-cl {
    background: #c0d3e3;
    padding: 5px 0;
    top: 0px;
    position: fixed;
    width: 100%;
    z-index: 99;
    opacity: 0.95;
    box-shadow: 0.6px 2.3px 2.2px rgba(0, 0, 0, 0.02),
    1.3px 5.6px 5.3px rgba(0, 0, 0, 0.028),
    2.5px 10.5px 10px rgba(0, 0, 0, 0.035),
    4.5px 18.8px 17.9px rgba(0, 0, 0, 0.042),
    8.4px 35.1px 33.4px rgba(0, 0, 0, 0.05),
    20px 84px 80px rgba(0, 0, 0, 0.07);
    border-bottom: 2px solid #7ED5DE;
    border-radius: 0 0 10px 10px;
}

.filings-info {
    margin-top: 60px;
    text-align: center;
    width: 100%;
    border-radius: 4px;
    color: #2c3e50;
    font-size: 13px;
    line-height: 40px;
    letter-spacing: 0.6px;
    box-shadow: 0.6px 2.3px 2.2px rgba(0, 0, 0, 0.02),
    1.3px 5.6px 5.3px rgba(0, 0, 0, 0.028),
    2.5px 10.5px 10px rgba(0, 0, 0, 0.035),
    4.5px 18.8px 17.9px rgba(0, 0, 0, 0.042),
    8.4px 35.1px 33.4px rgba(0, 0, 0, 0.05),
    20px 84px 80px rgba(0, 0, 0, 0.07);
}

.filings-info i {
    cursor: pointer;
    margin-right: 16px;
}

.filings-info i:hover,
.filings-info a:hover {
    color: #8e44ad;
}

.filings-info a {
    color: #2c3e50;
}
