<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aurora.business.mapper.comment.ArticleCommentMapper">
    <select id="ArticleList" resultType="com.aurora.business.domain.vo.comment.ArticleCommentVo">
        SELECT ac.id,
               ac.article_id,
               ac.uid,
               ac.parent_id,
               ac.target_id,
               ac.target_uid,
               um.nickname  AS targetName,
               um.avatar    AS targetAvatar,
               ac.comment_uid,
               um2.nickname AS commentName,
               um2.avatar   AS commentAvatar,
               ac.content,
               ac.type,
               ac.create_time,
               ac.comment_grade
        FROM article_comment AS ac
                 LEFT JOIN user_main AS um ON ac.target_uid = um.uuid
                 LEFT JOIN user_main AS um2 ON ac.comment_uid = um2.uuid
        where ac.state = 0
          and ac.article_id = #{articleId}
        order by ac.create_time desc
    </select>

    <select id="selectBasicsLis" resultType="com.aurora.business.domain.vo.comment.ArticleCommentVo">
        select *
        from article_information ;
    </select>
</mapper>
