.ri-ioc:hover {
  color: #00afff;
  fill: #00afff;
}

.for-div {
  background-color: #fefefe;
  padding: 10px 40px 15px 20px;
  border-bottom: 1px solid #dfe4ea;
}

.for-div:hover {
  border-bottom: 1px solid var(--theme-color);
}

.comment-div {
  margin-left: 40px;
}
